 
<div>
    <h2>Liste des questionnaires</h2>
                   
    <jhi-alert></jhi-alert>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
               <!-- 
               	<th><span>ID</span><span class="glyphicon"></span></th>
               -->
                <th><span>Thème</span> <span class="glyphicon"></span></th>
                <th><span>Niveau</span> <span class="glyphicon"></span></th>
                <th><span>Durée</span> <span class="glyphicon"></span></th>
                <th></th>
            </tr>
            </thead>
         
            
            <tbody>
            <tr ng-repeat="questionnaire in vm.questionnaires | startFrom:vm.currentPage*vm.pageSize | limitTo:vm.pageSize ">
               <!-- 
                 <td>{{questionnaire.id}}</td>
                -->
                <td>{{questionnaire.theme}}</td>
                <td>{{questionnaire.niveau}}</td>
                <td>{{questionnaire.duree}}</td>
                <td>
                    <div class="btn-group flex-btn-group-container">
                        <button ng-click="vm.choisirQuestionnaire(questionnaire)" 
                        	ng-show="true" class="btn btn-info btn-sm">Choisir</button>
                   </div>
              
                </td>
            </tr>
            
            </tbody>
        </table>
    </div>
     
    <div class="text-center">
     <button ng-disabled="vm.currentPage == 0" ng-click="vm.currentPage=vm.currentPage-1">
        Previous
    </button>
  
  
     {{vm.currentPage+1}}/{{(vm.questionnaires.length%vm.pageSize == 0)? vm.questionnaires.length%vm.pageSize : (vm.questionnaires.length - (vm.questionnaires.length%vm.pageSize))/ vm.pageSize + 1}} 
    
    <button ng-disabled="vm.currentPage >= vm.questionnaires.length/vm.pageSize - 1" ng-click="vm.currentPage=vm.currentPage+1">
        Next
    </button>
    </div>
    
      
</div>


