
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuestionnaireLabel">Create or edit a Questionnaire</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.questionnaire.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.questionnaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_theme">Theme</label>
            <input type="text" class="form-control" name="theme" id="field_theme"
                    ng-model="vm.questionnaire.theme"
                    required />
            <div ng-show="editForm.theme.$invalid">
                <p class="help-block"
                    ng-show="editForm.theme.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_categorie">Categorie</label>
            <input type="text" class="form-control" name="categorie" id="field_categorie"
                    ng-model="vm.questionnaire.categorie"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_duree">Duree</label>
            <input type="number" class="form-control" name="duree" id="field_duree"
                    ng-model="vm.questionnaire.duree"
                    required />
            <div ng-show="editForm.duree.$invalid">
                <p class="help-block"
                    ng-show="editForm.duree.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.duree.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
